.admin_droswavosw_pnl_form_settings_page_table table{
    width: 100%;
}
.admin_droswavosw_pnl_form_settings_page_table input{
    width: 100%;
}

.admin_droswavosw_pnl_form_settings_page_table .wtab_chk{
    width: auto;
}

.admin_droswavosw_pnl_form_settings_page_table textarea {
    width: 100%;
    min-height: 200px;
}
